body{
    background-image: url(../img/fondo.jpg);
    background-size: 100vw;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0c0c10;
    color: white;
}

.barraSup{
    background-color: #191919;
    display: flex;
    justify-content: space-around;
    padding: 1vw;
    font-size: 2.3vw;
    margin: 0;
}

.botones{
    display: flex;
    gap: 6vw;
}

.botones button{
    background:none;
    color: white;
    border: 0;
    width: 5vw;
    height: 2vw;
    font-size: 1.8vw;
}

.h1cafe1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 2vh;
    gap: 50vh;
    font-size: 2vw;
}

.btShopNow{
    display: flex;
    justify-content: center;
}

.btShopNow button{
    padding: 0.7vw;
    width: 12vw;
    font-size: 1vw;
    background-color: orange;
    border-radius: 5vw;
    border: none;
}

